<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="../asset/human-head-with-a-question-mark-inside-svgrepo-com.svg" />
    <title>Hệ Thống Chấm Công Bằng Khuôn Mặt</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="min-h-screen bg-cover bg-center">
    <nav class="flex justify-end gap-4 p-4 bg-gray-900 bg-opacity-75 text-white">
      <a
        href="/"
        class="hover:text-gray-400"
        >Trang chủ</a
      >
      <a
        href="listUsers"
        class="text-gray-400 hover:text-gray-200"
        >Danh sách</a
      >
    </nav>

    <div class="text-center mt-4">
      <h1 class="text-black text-4xl font-bold">Hệ Thống Chấm Công Bằng Khuôn Mặt</h1>
      {% if mess %}
      <p class="text-red-500 text-xl mt-2">{{ mess }}</p>
      {% endif %}
      <p
        id="clock"
        class="text-black text-2xl mt-2"></p>
    </div>

    <div class="grid grid-cols-2">
      <div class="mt-8 px-10 col-span-1">
        <table class="w-full bg-white rounded-lg shadow-lg overflow-hidden border-collapse border border-gray-300">
          <thead>
            <tr class="bg-gray-800 text-white text-left">
              <th class="py-4 px-6">No</th>
              <th class="py-4 px-6">ID</th>
              <th class="py-4 px-6">Name</th>
              <th class="py-4 px-6">Email</th>
              <th class="py-4 px-6">Action</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            {% if l %} {% for i in range(l) %}
            <tr>
              <td class="py-4 px-6">{{ i+1 }}</td>
              <td class="py-4 px-6">{{ rolls[i] }}</td>
              <td class="py-4 px-6">{{ names[i] }}</td>
              <td class="py-4 px-6">{{ emails[i] }}</td>
              <td class="py-4 px-6">
                <form
                  action="{{ url_for('deleteUser') }}"
                  method="post"
                  class="inline">
                  <input
                    type="hidden"
                    name="userid"
                    value="{{ rolls[i] }}" />
                  <input
                    type="hidden"
                    name="username"
                    value="{{ names[i] }}" />
                  <input
                    type="hidden"
                    name="useremail"
                    value="{{ emails[i] }}" />
                  <button
                    type="submit"
                    class="flex items-center gap-2 text-red-600 hover:text-red-800">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      fill="currentColor">
                      <path d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6v12Z" />
                    </svg>
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %} {% endif %}
          </tbody>
        </table>
      </div>
      <!-- Thêm Nhân Viên -->
      <div class="bg-white bg-opacity-80 col-span-1 shadow-lg rounded-lg p-6">
        <h2 class="bg-blue-600 text-white text-xl font-bold p-4 rounded-t-lg flex items-center">Thêm Nhân Viên Mới</h2>
        <form
          action="/add"
          method="POST"
          enctype="multipart/form-data"
          class="mt-6 space-y-4">
          <div>
            <label class="block text-gray-700 font-medium">Tên nhân viên mới</label>
            <input
              type="text"
              name="newusername"
              class="w-full p-2 border border-gray-300 rounded-lg"
              required />
          </div>
          <div>
            <label class="block text-gray-700 font-medium">Email </label>
            <input
              type="email"
              name="newuseremail"
              class="w-full p-2 border border-gray-300 rounded-lg"
              required />
          </div>
          <button
            type="submit"
            class="bg-gray-800 text-white py-2 px-6 rounded-lg hover:bg-gray-900">
            Thêm Nhân Viên
          </button>
        </form>
        <p class="mt-6 text-gray-600"><i>Tất cả nhân viên: {{ totalreg }}</i></p>
      </div>
    </div>
  </body>
</html>
